# Dependencias
node_modules/

# Variables de entorno (NUNCA subir)
.env
.env.local
.env.*.local
.env.production
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/.env.production
server/.env
server/.env.local
server/.env.production

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Otros
package-lock.json
db.json
